/* 登录 */
.p_login { height:100%; background:#fff; overflow:hidden;}
.p_login .header { overflow:hidden;}
.p_login .header .logo { float:left; padding:1em;}
.p_login .header .logo img { height:3.7em;}
.p_login .header > .title { font-weight:bold; float:left; font-size:200%; line-height:2.8; color:#0085d0; background:#fff; margin-left:0.5em;}
/*.p_login > .pannel { position:relative; height:40em; background:url(../img/login.jpg) no-repeat 0 top; background-size:100% auto;}*/
.p_login > .pannel .c_float { width:24em; position:absolute; right:4em; top:4em; font-size:130%;}
.p_login > .pannel .c_float .c_list .main .title { font-weight:bold; font-size:140%; color:#0085d0;}
.p_login > .pannel .c_float .c_list .main .content { color:#0085d0;}
.p_login .c_form > ul > li > .label { font-size:14px; line-height:40px;}
.p_login .copyright { line-height:6; text-align:center; color:#4d5b65;}
.p_loginLinks a { display:inline-block; margin-left:1em;}
